:root {
  --blue: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --grey: #757575;
  --background-grey: #2f303a;
  --background-lightgrey: #f5f4fa;
  --light-grey: #ffffff99;
  --light-black: #212121;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  background-color: var(--white);
}
.list {
  list-style: none;
}
.logolink {
  color: var(--light-black);
  text-decoration: none;
}
.link {
  color: var(--light-black);
  text-decoration: none;
}
.link:focus,
.link:hover {
  color: var(--blue);
}
/*main header styles below*/
.logohead {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 26px;
  color: var(--black);
}
.logohead > span {
  color: var(--blue);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 26px;
}
.navigation {
  color: var(--light-black);
  font-weight: 500;
  font-size: 14px;
}
.opened {
  color: var(--blue);
}
.mail {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}
/*telephone style below*/
.tel {
  color: var(--grey);
}
.telfont {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}
.telfontfoot {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}
.tel:hover {
  color: var(--blue);
}
.tel:focus {
  color: var(--blue);
}
/*business section або Ефективні рішення style below*/
.bussiness {
  background-color: var(--background-grey);
}
.bussiness h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}
.bussiness button {
  font-family: inherit;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
}
/*features або Особливості style below*/
.features {
}
.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features p {
  font-size: 14px;
  line-height: 1.7;
  color: var(--grey);
}
/*studio affairs або Чим ми займаємося style below*/
.studioaffairs {
}
.studioaffairs h2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 36px;
  text-align: center;
  /*our team styles below*/
}
.team {
  background-color: var(--background-lightgrey);
  color: var(--light-black);
}
.team h2 {
  font-weight: 700;
  line-height: 1.2;
  font-size: 36px;
  text-align: center;
}
.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.team p {
  color: var(--grey);
  line-height: 1.2;
  font-size: 16px;
}
/*main portfolio stle below*/
.portfolio {
}
.portfolio h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.portfolio p {
  font-size: 16px;
  line-height: 1.9;
  color: var(--grey);
}
.portfolio button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.6;
  font-size: 16px;
}
.portfolio button:hover,
.portfolio button:focus {
  background: var(--blue);
  color: var(--white);
}
/*main footer styles below*/
.footback {
  background-color: var(--background-grey);
}
.footfont {
  font-style: normal;
  font-weight: 400;
  color: var(--white);
}
.footlink {
  color: var(--white);
}
.footlink:hover {
  color: var(--blue);
}
.footlink:focus {
  color: var(--blue);
}
.footlink-blank {
  color: var(--light-grey);
}
.footlink-blank:hover {
  color: var(--blue);
}
.footlink-blank:focus {
  color: var(--blue);
}
.logofoot {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--white);
}
.logofoot > span {
  color: var(--blue);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
}
.mailfoot {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}
